
/** Make the menu item red so that it stands out **/
#bluejay-helloworld-menuitem
{
  color: red ! important;
}


/** Apply an image to our toolbarbutton.  Use multiple states in a
    single image and then reposition the viewport in order to avoid
    flickering on state change **/
#bluejay-toolbarbutton
{
  list-style-image: url(chrome://bluejay/skin/bluejay.png);
  -moz-image-region: rect(16px 16px 32px 0px);
}
#bluejay-toolbarbutton:hover
{
  -moz-image-region: rect(16px 16px 32px 0px);
}
#bluejay-toolbarbutton[disabled="true"]
{
  -moz-image-region: rect(16px 16px 32px 0px);
}
#bluejay-toolbarbutton[active="true"]
{
  -moz-image-region: rect(16px 16px 32px 0px);
}
