#action-button {
  background-color: blue;
}
#pane-header-box {
  min-height: 27px;
  background-image: url("chrome://songbird/skin/playqueue/bg-playqueue-header.png");
}

#pane-header-label {
  font-weight: bold;
  margin-left: 6px;
  opacity: 0.75;
}
#playlist-header-box {
  min-height: 27px;
  background-image: url("chrome://songbird/skin/playqueue/bg-playqueue-header.png");
}

#playlist-header-label {
  font-weight: bold;
  margin-left: 6px;
  opacity: 0.75;
}
#playlist-message-layer-outer-box {
  padding: 10px;
  background-color: transparent;
}

.playlist-instructions {
  padding: 10px;
  text-align: center;
  -moz-border-radius: 6px;
}

toolbarbutton {
  height: 16px;
  width: 45px;
}

toolbarbutton[id="playqueue_cmd_clearall"] {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  margin-left: -0.5px;
}


toolbarbutton[type="menu"] {
  min-width: 11px;
  max-width: 11px;
  margin-left: -4px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
}

toolbarbutton[type="menu"] .toolbarbutton-icon {
  margin-right: -2px;
}
